
<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-ban text-danger"></span> Unexpected Error</h1>
    </header>
    <p>Well, this is embarrassing. An error occurred while processing your request.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
</div>
