
<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-ban text-danger"></span> Page Not Found</h1>
    </header>
    <p>Sorry, but the page you were looking for can’t be found.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
</div>

