@{
    ViewBag.Title = "Contact";
}

<h4>Contact</h4>

<address>
    Address<br />
    City, State, Zip<br />
    <abbr title="Phone">P:</abbr>
    Phone #
</address>

<address>
    <strong>Owner:</strong>   <a href="mailto:donotreply@YourSite.Com">donotreply@YourSite.Com</a>
</address>