@model List<LRS.Business.MetaDataObject>

<div class="form-group col-md-12">
    @Html.Talon().Grid(Model).Name("keywords").Columns(c =>
        {
            c.Bound(m => m.MetaDataId).Hidden();
            c.Bound(m => m.MetaDataType).Hidden();
            c.Bound(m => m.Data).Title("Keyword").Sortable(false);
            c.Buttons(b =>
            {
                b.Button("RemoveKeyword").Icon("times").Type("danger").Title("Remove").ToolTip("Remove Keyword");
            }).Width(30).AlignCenter().NoWrap();
        }).Clean()
</div>