<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ApplicationMode" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="ApplicationMode" value="#{ApplicationMode}#" xdt:Transform="Insert" xdt:Locator="Match(key)" />
    <add key="SortUrl" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="SortUrl" value="#{SortUrl}#" xdt:Transform="Insert" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" connectionString="Data Source=#{DataSource}#;Initial Catalog=#{Database}#;User ID=#{DatabaseUser}#;password=#{DatabasePassword}#" providerName="System.Data.SqlClient" />
    <add name="LrsConnection" connectionString="Data Source=#{LrsDataSource}#;Initial Catalog=#{LrsDatabase}#;User ID=#{LrsDatabaseUser}#;password=#{LrsDatabasePassword}#" providerName="System.Data.SqlClient" />
    <add name="EmployeeConnection" connectionString="Data Source=#{DataSource}#;Initial Catalog=SitePeople;User ID=#{DatabaseUser}#;password=#{DatabasePassword}#" providerName="System.Data.SqlClient" />
    <add name="ELMAH" connectionString="Data Source=#{DataSource}#;Initial Catalog=Elmah;User ID=#{DatabaseUser}#;password=#{DatabasePassword}#" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>