@{
    ViewBag.Title = "Contact";
}



<address>
    <div style="font-size: x-large;">Your Name</div><br/>
    <strong>Phone:</strong> Your Phone<br />
    <strong>Email:</strong> <a href="mailto:you@yoursite.com">you@yoursite.com</a>
</address>
