
<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-exclamation-circle text-danger"></span> Bad Request</h1>
    </header>
    <p>Your browser sent a request that this server could not understand.</p>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home")"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
</div>

